// Settings tuned for 3840 x 2160 display resolution
#define ZMK_POINTING_DEFAULT_MOVE_VAL 600 // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20  // 10

#include <dt-bindings/zmk/pointing.h>
#include <input/processors.dtsi>

&mmv {
  acceleration-exponent = <1>;          // 1
  time-to-max-speed-ms = <500>;         // 300
  trigger-period-ms = <16>;             // 16
};

&msc {
  acceleration-exponent = <0>;          // 0
  time-to-max-speed-ms = <300>;         // 300
  trigger-period-ms = <16>;             // 16
};

&mmv_input_listener {
  precision {
    layers = <FN>;
    input-processors = <&zip_xy_scaler 1 4>;
  };
};

&msc_input_listener {
  precision {
    layers = <FN>;
    input-processors = <&zip_scroll_scaler 4 1>;
  };
};

#define M_UP &mmv MOVE_UP
#define M_DN &mmv MOVE_DOWN
#define M_LFT &mmv MOVE_LEFT
#define M_RGT &mmv MOVE_RIGHT
#define MW_UP &msc SCRL_UP
#define MW_DN &msc SCRL_DOWN
#define MW_LFT &msc SCRL_LEFT
#define MW_RGT &msc SCRL_RIGHT
#define RCLK &mkp RCLK
#define LCLK &mkp LCLK
#define MCLK &mkp MCLK
